/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Media queries */
@media (min-width: 888px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 16pt;
    }
}

@media (min-width: 400px) and (max-width: 888px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 8pt;
    }

    .modal-content {
        width: 100%;
    }
}

@media (max-width: 400px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 6pt;
    }
}

@media (max-width: 300px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 4pt;
    }

    .siteNavBar {
        display: none !important;
    }

    .siteBarLoginSection {
        display: none !important;
    }

    .contentBox {
        width: 100% !important;
    }
}

@media (max-width: 150px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 2pt;
    }

    .siteNavBar {
        display: none !important;
    }

    .contentBox {
        width: 100% !important;
    }
}
/*------------------------------------------------------*/



/* Fonts */
@font-face {
    font-family: Nunito Regular;
    src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito ExtraLight;
    src: url(fonts/Nunito/Nunito-ExtraLight.ttf);
}

.regularFontText {
    font-family: Nunito Regular;
}

/*------------------------------------------------------*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16pt;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-color: ghostwhite !important;
    background-position: center top !important;
    background-attachment: fixed !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Site Bar */
.navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    top: 0px;
    height: 4em;
    width: 100%;
    z-index: 1;
    font-weight: bold;
    backdrop-filter: blur(7px);
}

.navBarItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.navBarItems > ul {
    display: flex;
    flex-direction: row !important;
    gap: 1em;
    list-style-type: none;
    font-size: 1.5em;
    align-content: center;
    padding-top: 0.4em;
    color: White;
}

.navBarLoginSection {
    display: flex;
    list-style: none;
    gap: 1em;
    font-size: 1.2em !important;
    padding-top: 0.55em !important;
}

.navBarLoginSection > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em !important;
}

/* Buttons */
.homeButton {
    margin-top: 4.5em;
    margin-left: 1em;
    background-color: transparent !important;
}

.inputNavButtonsSection {
    display: flex !important;
    flex-direction: column !important;
    gap: 0.5em;
    margin-bottom: 1em;
}

.inputNavButtonsSection > div > input {
    width: 10em !important;
    font-size: 1.2em;
}

.addSectionPriceBtn {
    padding-top: 2.1em;
}

.foodInfoBtnMargin {
    margin-bottom: 1.6em !important;
    margin-left: 0.3em !important;
}

/* Sections */
.inputSection {
    background-color: rgba(240,150, 65, 0.7) !important;
    color: white !important;
    width: 50em !important;
    opacity: 0.97;
    border: 0.2em solid;
    border-color: white;
    border-radius: 1em;
    margin-top: 6em;
    font-family: Nunito Regular;
}

.contentSection {
    width: 80em !important;
    margin-top: 6em;
    font-family: Nunito Regular;
}

.nutritionInfo {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}

.nutritionInfo > div > label {
    padding-top: 0.25em;
    font-size: 1.2em;
}

.nutritionInfo > div > input {
    width: 6em;
}

.nutrionInfoSecondRow {
    justify-content: start !important;
    gap: 2em;
    padding-left: 9em !important;
}

.inputSection > div > form > div > label {
    font-size: 1.2em !important;
    font-weight: bold !important;
}

.preLineText {
    white-space: pre-line
}

.secondPieceSectionEmptyCol {
    width: 2.4em;
}

.dessertDetailsBox {
    display: flex;
    gap: 1em;
    background-color: transparent;
    justify-content: center;
}

.dessertPhotoSize {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.dessertDetaislIcon {
    width: 2em;
    height: 2em;
    background-color: transparent;
    margin-bottom: 1.2em !important;
}

.dessertPriceText {
    padding-left: 1.8em;
    font-family: Nunito Extralight;
    font-size: 1.5em;
    font-weight: bold;
}

.foodInfoTable {
    display: none;
    font-size: 1.5em;
    margin-left: 1.8em !important;
}


/* User Messages styles */
.userErrorMessage {
    background-color: yellow;
    padding: 1em;
    border-radius: 1em;
}

.userErrorMessage > h4 {
    font-weight: bold;
    font-style: italic;
    color: red;
}

/* Text */

.dessertTitleText {
    font-size: 5em;
    font-weight: bold;
}

.dessertDescriptionText {
    font-size: 1.5em;
    white-space: pre-line;
    text-align: left;
    padding-bottom: 2.5em;
}

.dessertLabelText {
    font-size: 2em;
    font-weight: bold;
}

.ingredientsText {
    font-size: 1.5em;
    padding-left: 1.8em;
}

.allergernsTexts {
    font-size: 1.5em;
    padding-left: 1.8em;
}

.foondInfoLabel {
    display: flex;
    gap: 0.4em;
}

.foondInfoValue {
    text-align: right !important;
}

/* Model dessert image settings */
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(200,200,200,0.9);
    backdrop-filter: blur(20px) !important;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 70em;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 70em;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: red;
}

.close:hover,
.close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.modelDessertNameText {
    font-size: 3em !important;
    font-weight: bold !important;
    color: black !important;
}

/* Content animations */
.zoomAnimationNoDelay {
    animation-name: zoom;
    animation-duration: 1s;
}

.zoomAnimationSmallDelay {
    animation-fill-mode: both;
    animation-delay: 0.7s;
    animation-name: swipe-left-animation;
    animation-duration: 0.75s;
}

.zoomAnimationMediumDelay {
    animation-fill-mode: both;
    animation-delay: 1.15s;
    animation-name: swipe-right-animation;
    animation-duration: 0.75s;
}

.fallDownAnimationNoDelay {
    animation-name: fall-down-animation;
    animation-duration: 1s;
}

.fallDownAnimationSmallDelay {
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-name: fall-down-animation;
    animation-duration: 1.2s;
}

@keyframes swipe-right-animation {
    from {
        opacity: 0;
        transform: translateX(-20em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipe-left-animation {
    from {
        opacity: 0;
        transform: translateX(50em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fall-down-animation {
    from {
        opacity: 0;
        transform: translateY(-50em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}