/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Media queries */
@media (min-width: 888px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 12pt;
    }

    .contentSection {
        max-width: 100em !important;
    }

    .allCakesInfoSection {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .cakeShortInfoPhoto {
        width: 19em !important;
    }
}

@media (min-width: 888px) and (max-width: 1200px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 10pt;
    }

    .allCakesInfoSection {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .cakeShortInfoPhoto {
        width: 16em !important;
    }
}


@media (min-width: 406px) and (max-width: 888px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 8pt;
    }

    .contentSection {
        max-width: 100em !important;
    }

    .allCakesInfoSection {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .cakeShortInfoPhoto {
        width: 16em !important;
    }
}

@media (min-width: 300px) and (max-width: 406px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 6pt;
    }

    .contentSection {
        max-width: 70em !important;
    }

    .allCakesInfoSection {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .cakeShortInfoPhoto {
        width: 16em !important;
    }
}

@media (min-width: 150px) and (max-width: 300px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 4pt;
    }

    .contentSection {
        max-width: 70em !important;
    }

    .siteNavBar {
        display: none !important;
    }

    .siteBarLoginSection {
        display: none !important;
    }

    .contentBox {
        width: 100% !important;
    }

    .allCakesInfoSection {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .cakeShortInfoPhoto {
        width: 16em !important;
    }
}

@media (max-width: 150px) {
    html {
        position: relative;
        min-height: 100%;
        font-size: 2pt;
    }

    .siteNavBar {
        display: none !important;
    }

    .contentBox {
        width: 100% !important;
    }

    .contentSection {
        max-width: 70em !important;
    }

    .allCakesInfoSection {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .cakeShortInfoPhoto {
        width: 16em !important;
    }
}
/*------------------------------------------------------*/



/* Fonts */
@font-face {
    font-family: Nunito Regular;
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito ExtraLight;
    src: url(../fonts/Nunito/Nunito-ExtraLight.ttf);
}

.regularFontText {
    font-family: Nunito Regular;
}

/*------------------------------------------------------*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Global Settings */

/* Midia Queries */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-color: ghostwhite !important;
    background-position: center top !important;
    background-attachment: fixed !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.modal-content {
    width: 100%;
}
/* ------------------------------ */





/* Site Bar */
.navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    top: 0px;
    height: 4em;
    width: 100%;
    z-index: 1;
    font-weight: bold;
    backdrop-filter: blur(7px);
    background-image: linear-gradient(rgba(174, 62, 37, 0.85), rgba(239, 145, 54, 0.90));
}

.navBarItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font-family: Nunito ExtraLight, sans-serif;
}

    .navBarItems > ul {
        display: flex;
        flex-direction: row !important;
        gap: 1em;
        list-style-type: none;
        font-size: 1.5em;
        align-content: center;
        padding-top: 0.4em;
        color: White;
    }

.navBarLoginSection {
    display: flex;
    list-style: none;
    gap: 1em;
    font-size: 1.2em !important;
    padding-top: 0.55em !important;
}

.navBarPhoneNumberText {
    padding-right: 1em;
    cursor: default;
}

.navBarLoginSection > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em !important;
}

.navBarlogoImageWidth > img {
    width: 8em !important;
}
/* ------------------------------ */





/* Buttons */
.homeButton {
    margin-top: 4.5em;
    margin-left: 1em;
    background-color: transparent !important;
}

.inputNavButtonsSection {
    display: flex !important;
    flex-direction: column !important;
    gap: 0.5em;
    margin-bottom: 1em;
}

    .inputNavButtonsSection > div > input {
        width: 10em !important;
        font-size: 1.2em;
    }

.addSectionPriceBtn {
    padding-top: 2.1em;
}

.foodInfoBtnMargin {
    margin-bottom: 0.8em !important;
    margin-left: 0.3em !important;
    border: 0.1em solid black !important;
}

.addDessertBtnMargin {
    margin: 6em 0;
}

    .addDessertBtnMargin > a {
        font-size: 1.2em;
        width: 20%;
    }



.editDessertBtn {
    font-size: 1.5em !important;
    background-color: #ffbb00 !important;
    width: 33% !important;
    color: black !important;
}

    .editDessertBtn:hover {
        background-color: orange !important;
        color: white !important;
    }

.deletedsrtBtn {
    font-size: 1.5em !important;
    width: 33% !important;
    color: black !important;
}

    .deletedsrtBtn:hover {
        color: white !important;
    }
/* ------------------------------ */





/* Sections */
.inputSection {
    background-color: rgba(240,150, 65, 0.7) !important;
    color: white !important;
    max-width: 40em !important;
    margin: auto;
    opacity: 0.97;
    border: 0.2em solid;
    border-color: white;
    border-radius: 1em;
    margin-top: 6em;
    font-family: Nunito Regular;
}

.searchDessertSection {
    display: flex;
    justify-content: center !important;
    font-size: 1.2em;
}

.searchDessertText {
    border: gray solid 0.1em;
    border-radius: 2em 0 0 2em;
    background-color: white;
}

    .searchDessertText > input {
        padding: 0.3em 1em 0.3em 1em !important;
        border-color: transparent;
        border-radius: 2em 0 0 2em;
    }

        .searchDessertText > input:focus,
        .searchDessertText > input:active {
            border-color: transparent;
            background-color: floralwhite;
            outline: none;
        }

.searchDesserBtn {
    padding: 0.3em 0.3em !important;
    border: gray solid 0.1em;
    border-radius: 0 2em 2em 0;
    background-color: #4BB543;
}

    .searchDesserBtn:hover {
        background-color: green;
    }

    .searchDesserBtn > button:hover {
        color: greenyellow !important;
    }

    .searchDesserBtn > button {
        border-color: transparent;
        background-color: transparent;
        color: white !important;
    }

.contentSection {
    margin: auto;
    margin-top: 6em !important;
    padding-bottom: 10em;
    font-family: Nunito Regular;
}

.allCakesInfoSection {
    z-index: -2 !important;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
}

.orderBySection {
    z-index: 2 !important
}

.orderByDropDownBtn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
    font-size: 1.2em !important;
    font-weight: bold !important;
}

    .orderByDropDownBtn:hover {
        background-color: rgba(240, 240, 240, 0.97) !important;
    }

    .orderByDropDownBtn:focus {
        background-color: rgba(220, 220, 220, 0.97) !important;
    }

.orderByDropDownLayout {
    display: none;
    z-index: 10 !important;
    width: 15em !important;
    background-color: rgba(220, 220, 220, 0.97) !important;
    border-color: transparent !important;
    animation: fallDownAnimationNoDelay !important;
}

.orderByDropDownBtn:focus .orderByDropDownLayout {
    animation: fallDownAnimationNoDelay !important;
    display: block !important;
}

.orderByDropDownText {
    z-index: 10 !important;
    color: black;
    border-color: transparent;
    outline: none !important;
}

    .orderByDropDownText:hover {
        background-color: darkgray !important;
        color: white !important;
    }

.foodInfoSectionPadding {
    padding-left: 3em !important;
}

.nutritionInfo {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}

    .nutritionInfo > div > label {
        padding-top: 0.25em;
        font-size: 1.2em;
    }

    .nutritionInfo > div > div,
    .nutritionInfo > div > input {
        width: 6em;
    }

.inputSection > div > form > div > label {
    font-size: 1.2em !important;
    font-weight: bold !important;
}

.preLineText {
    white-space: pre-line
}

.secondPieceSectionEmptyCol {
    width: 2.4em;
}

.cakeShortInfoSection {
    font-family: Nunito Regular !important;
    text-decoration: none !important;
    color: black !important;
    padding: 0.5em !important;
}

    .cakeShortInfoSection:hover {
        float: left !important;
        text-align: center !important;
        overflow: hidden !important;
        transition: 1s !important;
        background-color: rgba(180, 180, 180, 0.2);
        border-radius: 1em !important;
    }

.cakeShortInfoPhoto {
    z-index: -2 !important;
    margin: 0 auto !important;
    border: none !important;
    border-radius: 1em !important;
    background-color: transparent !important;
}

.cakeShortInfoNameText {
    text-align: center;
    position: relative !important;
    z-index: -2;
    font-weight: bold;
    padding: 0.5em 0.2em;
    font-size: 1.5em;
}

.cakeShortInfoPriceText {
    font-size: 1em !important;
    text-align: center;
    font-weight: bold;
    margin-top: -0.6em;
    padding: 0em 0.3em;
    font-family: Nunito ExtraLight;
    color: #4f4f4f !important;
}

.dessertDetailsBox {
    text-align: center;
    display: flex !important;
    gap: 1em !important;
    background-color: transparent !important;
}

    .dessertDetailsBox > div {
        flex-grow: 1 !important;
        flex-basis: 0 !important;
    }

.dessertPhotoSize {
    width: 35em;
    object-fit: cover;
}


.dessertPriceText {
    text-align: start !important;
    padding-left: 1.8em;
    font-family: Nunito Extralight;
    font-size: 1.5em;
    font-weight: bold;
}

.adminSectionText {
    font-size: 1.5em !important;
}
/* ------------------------------ */
/* User Messages styles */
.userErrorMessage {
    background-color: yellow;
    padding: 1em;
    border-radius: 1em;
}

    .userErrorMessage > h4 {
        font-weight: bold;
        font-style: italic;
        color: red;
    }

/* Text */

.dessertTitleText {
    text-align: start !important;
    font-size: 5em;
    font-weight: bold;
}

.dessertDescriptionText {
    text-align: start !important;
    font-size: 2em !important;
    color: #666666;
    white-space: pre-line;
    text-align: left;
    padding-bottom: 2.5em;
}

.ingredientsText,
.foodInfoTable,
.allergernsText {
    text-align: start !important;
    font-size: 1.25em;
    color: #666666;
    padding-left: 2.3em;
    padding-top: 0em !important;
    margin-top: 0em !important;
}

.dessertDetaislIcon {
    width: 1.5em;
    height: 1.5em;
    font-size: 1.6em;
    background-color: transparent;
}

.dessertLabelText {
    font-size: 1.6em;
    font-weight: bold;
}

.foodInfoLabel {
    display: flex;
    gap: 0.4em;
}

.foondInfoValue {
    text-align: right !important;
}

.foodInfoHeadersBorder {
    border-bottom: 0.1em solid gray;
}

.allDesertsTitle {
    font-size: 3em;
    padding-top: 1em;
    font-family: Nunito Regular;
}

.dessertDetailsTitle {
    padding-top: 0.4em;
    font-family: Nunito Regular;
    font-size: 5em;
}

.searchDessertResultText {
    font-size: 1.2em;
    font-style: italic;
    color: #777777
}
/* ------------------------------ */





/* Modal dessert image settings */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(200,200,200,0.9);
    backdrop-filter: blur(20px) !important;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 70em;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 70em;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: red;
}

    .close:hover,
    .close:focus {
        color: darkgreen;
        text-decoration: none;
        cursor: pointer;
    }

.modelDessertNameText {
    font-size: 3em !important;
    font-weight: bold !important;
    color: black !important;
}
/* ------------------------------ */






/* Content animations */
.zoomAnimationNoDelay {
    animation-name: zoom;
    animation-duration: 1s;
}

.orderCriteriaZoonAnimation {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.swipeLeftAnimationNoDelay {
    animation-fill-mode: both;
    animation-name: swipe-left-animation;
    animation-duration: 0.5s;
}

.swipeLeftAnimationSmallDelay {
    animation-fill-mode: both;
    animation-delay: 0.5s;
    animation-name: swipe-left-animation;
    animation-duration: 0.5s;
}

.swipeLeftAnimationMediumDelay {
    animation-fill-mode: both;
    animation-delay: 1.5s;
    animation-name: swipe-left-animation;
    animation-duration: 1.5s;
}

.swipeRigthAnimationMediumDelay {
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-name: swipe-right-animation;
    animation-duration: 0.5s;
}

.fallDownAnimationNoDelay {
    animation-name: fall-down-animation;
    animation-duration: 0.8s;
}

.fallDownAnimationSmallDelay {
    animation-fill-mode: both;
    animation-delay: 0.8s;
    animation-name: fall-down-animation;
    animation-duration: 1s;
}


.fallDownAnimationNoDissapear {
    animation-name: fall-down-animation-dissapear;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.slideUpAnimationWithDelay {
    animation-fill-mode: both;
    animation-delay: 1.5s;
    animation-name: slide-up-animation;
    animation-duration: 0.75s;
}

.dessertInfoTitleAnimation {
    animation: fall-down-animation-dessert-info-title;
    animation-duration: 0.5s;
}

.dessertInfoDetailsAnimation {
    animation-fill-mode: both;
    animation-delay: 0.5s;
    animation-name: slide-up-animation-dessert-info-details;
    animation-duration: 0.75s;
}

@keyframes swipe-right-animation {
    from {
        opacity: 0;
        transform: translateX(-20em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipe-left-animation {
    from {
        opacity: 0;
        transform: translateX(50em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fall-down-animation {
    from {
        opacity: 0;
        transform: translateY(-40em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fall-down-animation-dessert-info-title {
    from {
        opacity: 0;
        transform: translateY(-10em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fall-down-animation-dissapear {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(+20em);
    }
}

@keyframes slide-up-animation {
    from {
        opacity: 0;
        transform: translateY(+10em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up-animation-dessert-info-details {
    from {
        opacity: 0;
        transform: translateY(+50em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
